body {
    font-family: "Montserrat", "Helvetica Neue", sans-serif
}

.flex-center {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.qrPreviewVideo {
    width: 100%;
}

#scanner {
    width: 90%;
}